

<body class="home page page-id-12 page-parent page-template-default btx-layout btx-layout--wide btx-layout-responsive btx-layout--topnav btx-layout--fixednav" data-scheme="light" data-layout="wide">

    <div class="btx-wrapper btx-p-bg-bg btx-home hide-border">

        


        <main class="btx-content btx-content--with-header" id="main">
            <article id="post-1291" class="btx-content-wrapper post-1291 page type-page status-publish hentry">

              <br><br><br><br>

                <div class="btx-main btx-main--single">
                    <div class="btx-main-wrapper">
                        <section class="btx-section js-dynamic-navbar btx-p-border-border" data-index="0">
                            <div class="btx-background" data-type="image" data-parallaxspeed="2" data-contentfade="" data-mobileparallax="">
                                <div class="btx-background-overlay btx-p-bg-bg" style="background-color:#f5f5f5; opacity:1;"></div>
                            </div>
                            <div class="btx-section-wrapper" style="padding-top:0px; padding-bottom:80px;">
                                <div class="btx-container">
                                    <div class="btx-row btx-row--main">
                                        <div class="btx-col-12">

                                            <div class="btx-item js-item-product btx-product btx-product--standard btx-left-align btx-product-layout--carousel woocommerce btx-product-no-rating">
                                                <!-- 1 Palasa Divlerler icinde 3 dene elan . Forun birini burda aciriq birinide aldaki divde-->
                                                {% for art in article%}{{art}}{% endfor %}
                                                <div class="btx-product-content" style="margin:0 -10px;" data-display="4" data-scroll="1" data-loop="true">

                                                    <article class="btx-entry btx-col-3 post-3036 product type-product status-publish has-post-thumbnail product_cat-eyewear product_tag-glasses first instock sale shipping-taxable product-type-grouped" style="padding:0 10px;" data-filter="Eyewear">
                                                        <div class="btx-entry-inner btx-product-entry-content btx-with-background" style="background-color:rgba(255,255,255,1);">
                                                            <div class="btx-product-entry-media btx-product-entry-media--still">
                                                                <a class="btx-product-entry-image" href="#">

                                                                    <span class="onsale">Sale!</span>
                                                                    <img width="624" height="800" src="/media/devoloper.jpg" class="attachment-shop_catalog size-shop_catalog wp-post-image" alt="shop-sunglasses-group" title="shop-sunglasses-group" />
                                                                </a>

                                                            </div>

                                                            <div class="btx-product-entry-info">
                                                                <div class="btx-product-entry-info-wrapper">
                                                                    <div class="btx-product-entry-info-inner">
                                                                        <h4 class="btx-product-entry-title btx-secondary-font" style="font-size:16px;">
                                                                                <a class="btx-s-text-color" href="#">Sunglasses</a>
                                                                            </h4>
                                                                        <div class="btx-product-entry-meta btx-primary-font">

                                                                            <span class="price"><span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">&#36;</span>189.00</span>&ndash;<span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">&#36;</span>225.00</span>
                                                                            </span>
                                                                        </div>

                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </article>

                                                    <article class="btx-entry btx-col-3 post-1516 product type-product status-publish has-post-thumbnail product_cat-top product_tag-t-shirt first outofstock featured shipping-taxable purchasable product-type-simple" style="padding:0 10px;" data-filter="Top">
                                                        <div class="btx-entry-inner btx-product-entry-content btx-with-background" style="background-color:rgba(255,255,255,1);">
                                                            <div class="btx-product-entry-media btx-product-entry-media--still">
                                                                <a class="btx-product-entry-image" href="#">

                                                                    <span class="featured-label btx-p-brand-bg btx-p-brand-contrast-color">Featured</span>
                                                                    <img width="624" height="800" src="/media/devoloper.jpg" class="attachment-shop_catalog size-shop_catalog wp-post-image" alt="shop-blackshirt-01" title="shop-blackshirt-01" />
                                                                </a>

                                                            </div>

                                                            <div class="btx-product-entry-info">
                                                                <div class="btx-product-entry-info-wrapper">
                                                                    <div class="btx-product-entry-info-inner">
                                                                        <h4 class="btx-product-entry-title btx-secondary-font" style="font-size:16px;">
                                                                                <a class="btx-s-text-color" href="#">Logo T-Shirt</a>
                                                                            </h4>
                                                                        <div class="btx-product-entry-meta btx-primary-font">

                                                                            <div class="star-rating" title="Rated 5 out of 5"><span style="width:100%"><strong class="rating">5</strong> out of 5</span></div>
                                                                            <span class="price"><span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">&#36;</span>59.00</span>
                                                                            </span>
                                                                        </div>

                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </article>

                                                   <article class="btx-entry btx-col-3 post-3036 product type-product status-publish has-post-thumbnail product_cat-eyewear product_tag-glasses first instock sale shipping-taxable product-type-grouped" style="padding:0 10px;" data-filter="Eyewear">
                                                        <div class="btx-entry-inner btx-product-entry-content btx-with-background" style="background-color:rgba(255,255,255,1);">
                                                            <div class="btx-product-entry-media btx-product-entry-media--still">
                                                                <a class="btx-product-entry-image" href="#">

                                                                    <span class="onsale">Sale!</span>
                                                                    <img width="624" height="800" src="/media/devoloper.jpg" class="attachment-shop_catalog size-shop_catalog wp-post-image" alt="shop-sunglasses-group" title="shop-sunglasses-group" />
                                                                </a>

                                                            </div>

                                                            <div class="btx-product-entry-info">
                                                                <div class="btx-product-entry-info-wrapper">
                                                                    <div class="btx-product-entry-info-inner">
                                                                        <h4 class="btx-product-entry-title btx-secondary-font" style="font-size:16px;">
                                                                                <a class="btx-s-text-color" href="#">Sunglasses</a>
                                                                            </h4>
                                                                        <div class="btx-product-entry-meta btx-primary-font">

                                                                            <span class="price"><span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">&#36;</span>189.00</span>&ndash;<span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">&#36;</span>225.00</span>
                                                                            </span>
                                                                        </div>

                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </article>

                                                    <article class="btx-entry btx-col-3 post-1516 product type-product status-publish has-post-thumbnail product_cat-top product_tag-t-shirt first outofstock featured shipping-taxable purchasable product-type-simple" style="padding:0 10px;" data-filter="Top">
                                                        <div class="btx-entry-inner btx-product-entry-content btx-with-background" style="background-color:rgba(255,255,255,1);">
                                                            <div class="btx-product-entry-media btx-product-entry-media--still">
                                                                <a class="btx-product-entry-image" href="#">

                                                                    <span class="featured-label btx-p-brand-bg btx-p-brand-contrast-color">Featured</span>
                                                                    <img width="624" height="800" src="/media/devoloper.jpg" class="attachment-shop_catalog size-shop_catalog wp-post-image" alt="shop-blackshirt-01" title="shop-blackshirt-01" />
                                                                </a>

                                                            </div>

                                                            <div class="btx-product-entry-info">
                                                                <div class="btx-product-entry-info-wrapper">
                                                                    <div class="btx-product-entry-info-inner">
                                                                        <h4 class="btx-product-entry-title btx-secondary-font" style="font-size:16px;">
                                                                                <a class="btx-s-text-color" href="#">Logo T-Shirt</a>
                                                                            </h4>
                                                                        <div class="btx-product-entry-meta btx-primary-font">

                                                                            <div class="star-rating" title="Rated 5 out of 5"><span style="width:100%"><strong class="rating">5</strong> out of 5</span></div>
                                                                            <span class="price"><span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">&#36;</span>59.00</span>
                                                                            </span>
                                                                        </div>

                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </article>

                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
                <div class="btx-main btx-main--single">
                    <div class="btx-main-wrapper">
                        <section class="btx-section js-dynamic-navbar btx-p-border-border" data-index="0">
                            <div class="btx-background" data-type="image" data-parallaxspeed="2" data-contentfade="" data-mobileparallax="">
                                <div class="btx-background-overlay btx-p-bg-bg" style="background-color:#f5f5f5; opacity:1;"></div>
                            </div>
                            <div class="btx-section-wrapper" style="padding-top:0px; padding-bottom:80px;">
                                <div class="btx-container">
                                    <div class="btx-row btx-row--main">
                                        <div class="btx-col-12">

                                            <div class="btx-item js-item-product btx-product btx-product--standard btx-left-align btx-product-layout--carousel woocommerce btx-product-no-rating">
                                                <!-- 1 Palasa Divlerler icinde 3 dene elan . Forun birini burda aciriq birinide aldaki divde-->
                                                {% for art in article%}{{art}}{% endfor %}
                                                <div class="btx-product-content" style="margin:0 -10px;" data-display="4" data-scroll="1" data-loop="true">

                                                    <article class="btx-entry btx-col-3 post-3036 product type-product status-publish has-post-thumbnail product_cat-eyewear product_tag-glasses first instock sale shipping-taxable product-type-grouped" style="padding:0 10px;" data-filter="Eyewear">
                                                        <div class="btx-entry-inner btx-product-entry-content btx-with-background" style="background-color:rgba(255,255,255,1);">
                                                            <div class="btx-product-entry-media btx-product-entry-media--still">
                                                                <a class="btx-product-entry-image" href="#">

                                                                    <span class="onsale">Sale!</span>
                                                                    <img width="624" height="800" src="/media/devoloper.jpg" class="attachment-shop_catalog size-shop_catalog wp-post-image" alt="shop-sunglasses-group" title="shop-sunglasses-group" />
                                                                </a>

                                                            </div>

                                                            <div class="btx-product-entry-info">
                                                                <div class="btx-product-entry-info-wrapper">
                                                                    <div class="btx-product-entry-info-inner">
                                                                        <h4 class="btx-product-entry-title btx-secondary-font" style="font-size:16px;">
                                                                                <a class="btx-s-text-color" href="#">Sunglasses</a>
                                                                            </h4>
                                                                        <div class="btx-product-entry-meta btx-primary-font">

                                                                            <span class="price"><span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">&#36;</span>189.00</span>&ndash;<span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">&#36;</span>225.00</span>
                                                                            </span>
                                                                        </div>

                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </article>

                                                    <article class="btx-entry btx-col-3 post-1516 product type-product status-publish has-post-thumbnail product_cat-top product_tag-t-shirt first outofstock featured shipping-taxable purchasable product-type-simple" style="padding:0 10px;" data-filter="Top">
                                                        <div class="btx-entry-inner btx-product-entry-content btx-with-background" style="background-color:rgba(255,255,255,1);">
                                                            <div class="btx-product-entry-media btx-product-entry-media--still">
                                                                <a class="btx-product-entry-image" href="#">

                                                                    <span class="featured-label btx-p-brand-bg btx-p-brand-contrast-color">Featured</span>
                                                                    <img width="624" height="800" src="/media/devoloper.jpg" class="attachment-shop_catalog size-shop_catalog wp-post-image" alt="shop-blackshirt-01" title="shop-blackshirt-01" />
                                                                </a>

                                                            </div>

                                                            <div class="btx-product-entry-info">
                                                                <div class="btx-product-entry-info-wrapper">
                                                                    <div class="btx-product-entry-info-inner">
                                                                        <h4 class="btx-product-entry-title btx-secondary-font" style="font-size:16px;">
                                                                                <a class="btx-s-text-color" href="#">Logo T-Shirt</a>
                                                                            </h4>
                                                                        <div class="btx-product-entry-meta btx-primary-font">

                                                                            <div class="star-rating" title="Rated 5 out of 5"><span style="width:100%"><strong class="rating">5</strong> out of 5</span></div>
                                                                            <span class="price"><span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">&#36;</span>59.00</span>
                                                                            </span>
                                                                        </div>

                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </article>

                                                   <article class="btx-entry btx-col-3 post-3036 product type-product status-publish has-post-thumbnail product_cat-eyewear product_tag-glasses first instock sale shipping-taxable product-type-grouped" style="padding:0 10px;" data-filter="Eyewear">
                                                        <div class="btx-entry-inner btx-product-entry-content btx-with-background" style="background-color:rgba(255,255,255,1);">
                                                            <div class="btx-product-entry-media btx-product-entry-media--still">
                                                                <a class="btx-product-entry-image" href="#">

                                                                    <span class="onsale">Sale!</span>
                                                                    <img width="624" height="800" src="/media/devoloper.jpg" class="attachment-shop_catalog size-shop_catalog wp-post-image" alt="shop-sunglasses-group" title="shop-sunglasses-group" />
                                                                </a>

                                                            </div>

                                                            <div class="btx-product-entry-info">
                                                                <div class="btx-product-entry-info-wrapper">
                                                                    <div class="btx-product-entry-info-inner">
                                                                        <h4 class="btx-product-entry-title btx-secondary-font" style="font-size:16px;">
                                                                                <a class="btx-s-text-color" href="#">Sunglasses</a>
                                                                            </h4>
                                                                        <div class="btx-product-entry-meta btx-primary-font">

                                                                            <span class="price"><span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">&#36;</span>189.00</span>&ndash;<span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">&#36;</span>225.00</span>
                                                                            </span>
                                                                        </div>

                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </article>

                                                    <article class="btx-entry btx-col-3 post-1516 product type-product status-publish has-post-thumbnail product_cat-top product_tag-t-shirt first outofstock featured shipping-taxable purchasable product-type-simple" style="padding:0 10px;" data-filter="Top">
                                                        <div class="btx-entry-inner btx-product-entry-content btx-with-background" style="background-color:rgba(255,255,255,1);">
                                                            <div class="btx-product-entry-media btx-product-entry-media--still">
                                                                <a class="btx-product-entry-image" href="#">

                                                                    <span class="featured-label btx-p-brand-bg btx-p-brand-contrast-color">Featured</span>
                                                                    <img width="624" height="800" src="/media/devoloper.jpg" class="attachment-shop_catalog size-shop_catalog wp-post-image" alt="shop-blackshirt-01" title="shop-blackshirt-01" />
                                                                </a>

                                                            </div>

                                                            <div class="btx-product-entry-info">
                                                                <div class="btx-product-entry-info-wrapper">
                                                                    <div class="btx-product-entry-info-inner">
                                                                        <h4 class="btx-product-entry-title btx-secondary-font" style="font-size:16px;">
                                                                                <a class="btx-s-text-color" href="#">Logo T-Shirt</a>
                                                                            </h4>
                                                                        <div class="btx-product-entry-meta btx-primary-font">

                                                                            <div class="star-rating" title="Rated 5 out of 5"><span style="width:100%"><strong class="rating">5</strong> out of 5</span></div>
                                                                            <span class="price"><span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">&#36;</span>59.00</span>
                                                                            </span>
                                                                        </div>

                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </article>
                                                    <article class="btx-entry btx-col-3 post-1516 product type-product status-publish has-post-thumbnail product_cat-top product_tag-t-shirt first outofstock featured shipping-taxable purchasable product-type-simple" style="padding:0 10px;" data-filter="Top">
                                                        <div class="btx-entry-inner btx-product-entry-content btx-with-background" style="background-color:rgba(255,255,255,1);">
                                                            <div class="btx-product-entry-media btx-product-entry-media--still">
                                                                <a class="btx-product-entry-image" href="#">

                                                                    <span class="featured-label btx-p-brand-bg btx-p-brand-contrast-color">Featured</span>
                                                                    <img width="624" height="800" src="/media/devoloper.jpg" class="attachment-shop_catalog size-shop_catalog wp-post-image" alt="shop-blackshirt-01" title="shop-blackshirt-01" />
                                                                </a>

                                                            </div>

                                                            <div class="btx-product-entry-info">
                                                                <div class="btx-product-entry-info-wrapper">
                                                                    <div class="btx-product-entry-info-inner">
                                                                        <h4 class="btx-product-entry-title btx-secondary-font" style="font-size:16px;">
                                                                                <a class="btx-s-text-color" href="#">Logo T-Shirt</a>
                                                                            </h4>
                                                                        <div class="btx-product-entry-meta btx-primary-font">

                                                                            <div class="star-rating" title="Rated 5 out of 5"><span style="width:100%"><strong class="rating">5</strong> out of 5</span></div>
                                                                            <span class="price"><span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">&#36;</span>59.00</span>
                                                                            </span>
                                                                        </div>

                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </article>

                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>

            </article>
            
        </main>

       
    </div>

<script type='text/javascript'>
    /* <![CDATA[ */
    var BateauxOptions = {"ajax_url":"js/admin-ajax.html"};
    /* ]]> */
    </script>
    <script type='text/javascript'>
        /* <![CDATA[ */
        var mejsL10n = {
            "language": "en-US",
            "strings": {
                "Close": "Close",
                "Fullscreen": "Fullscreen",
                "Download File": "Download File",
                "Download Video": "Download Video",
                "Play\/Pause": "Play\/Pause",
                "Mute Toggle": "Mute Toggle",
                "None": "None",
                "Turn off Fullscreen": "Turn off Fullscreen",
                "Go Fullscreen": "Go Fullscreen",
                "Unmute": "Unmute",
                "Mute": "Mute",
                "Captions\/Subtitles": "Captions\/Subtitles"
            }
        };
        var _wpmejsSettings = {
            "pluginPath": "js\/mediaelement\/"
        };
        /* ]]> */
    </script>
