

<body class="home page page-id-12 page-parent page-template-default btx-layout btx-layout--wide btx-layout-responsive btx-layout--topnav btx-layout--fixednav" data-scheme="light" data-layout="wide">

    <div class="btx-wrapper btx-p-bg-bg btx-home hide-border">

        


        <main class="btx-content btx-content--with-header" id="main">
            <article id="post-1291" class="btx-content-wrapper post-1291 page type-page status-publish hentry">

              <br><br><br><br>

                <div class="btx-main btx-main--single">
                    <div class="btx-main-wrapper">
                        <section class="btx-section js-dynamic-navbar btx-p-border-border" data-index="0">
                            <div class="btx-background" data-type="image" data-parallaxspeed="2" data-contentfade="" data-mobileparallax="">
                                <div class="btx-background-overlay btx-p-bg-bg" style="background-color:#f5f5f5; opacity:1;"></div>
                            </div>
                            <div class="btx-section-wrapper" style="padding-top:0px; padding-bottom:80px;">
                                <div class="btx-container">
                                    <div class="btx-row btx-row--main">
                                        <div class="btx-col-12">

                                            <div class="btx-item js-item-product btx-product btx-product--standard btx-left-align btx-product-layout--carousel woocommerce btx-product-no-rating">

                                                <div class="btx-product-content" style="margin:0 -10px;" data-display="4" data-scroll="1" data-loop="true">

                                                    <article class="btx-entry btx-col-3 post-3036 product type-product status-publish has-post-thumbnail product_cat-eyewear product_tag-glasses first instock sale shipping-taxable product-type-grouped" style="padding:0 10px;" data-filter="Eyewear">
                                                        <div class="btx-entry-inner btx-product-entry-content btx-with-background" style="background-color:rgba(255,255,255,1);">
                                                            <div class="btx-product-entry-media btx-product-entry-media--still">
                                                                <a class="btx-product-entry-image" href="#">

                                                                    <span class="onsale">Sale!</span>
                                                                    <img width="624" height="800" src="upload/shop-sunglasses-group-624x800.jpg" class="attachment-shop_catalog size-shop_catalog wp-post-image" alt="shop-sunglasses-group" title="shop-sunglasses-group" />
                                                                </a>

                                                            </div>

                                                            <div class="btx-product-entry-info">
                                                                <div class="btx-product-entry-info-wrapper">
                                                                    <div class="btx-product-entry-info-inner">
                                                                        <h4 class="btx-product-entry-title btx-secondary-font" style="font-size:16px;">
                                                                                <a class="btx-s-text-color" href="#">Sunglasses</a>
                                                                            </h4>
                                                                        <div class="btx-product-entry-meta btx-primary-font">

                                                                            <span class="price"><span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">&#36;</span>189.00</span>&ndash;<span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">&#36;</span>225.00</span>
                                                                            </span>
                                                                        </div>

                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </article>

                                                    <article class="btx-entry btx-col-3 post-1516 product type-product status-publish has-post-thumbnail product_cat-top product_tag-t-shirt first outofstock featured shipping-taxable purchasable product-type-simple" style="padding:0 10px;" data-filter="Top">
                                                        <div class="btx-entry-inner btx-product-entry-content btx-with-background" style="background-color:rgba(255,255,255,1);">
                                                            <div class="btx-product-entry-media btx-product-entry-media--still">
                                                                <a class="btx-product-entry-image" href="#">

                                                                    <span class="featured-label btx-p-brand-bg btx-p-brand-contrast-color">Featured</span>
                                                                    <img width="624" height="800" src="upload/shop-blackshirt-01-624x800.jpg" class="attachment-shop_catalog size-shop_catalog wp-post-image" alt="shop-blackshirt-01" title="shop-blackshirt-01" />
                                                                </a>

                                                            </div>

                                                            <div class="btx-product-entry-info">
                                                                <div class="btx-product-entry-info-wrapper">
                                                                    <div class="btx-product-entry-info-inner">
                                                                        <h4 class="btx-product-entry-title btx-secondary-font" style="font-size:16px;">
                                                                                <a class="btx-s-text-color" href="#">Logo T-Shirt</a>
                                                                            </h4>
                                                                        <div class="btx-product-entry-meta btx-primary-font">

                                                                            <div class="star-rating" title="Rated 5 out of 5"><span style="width:100%"><strong class="rating">5</strong> out of 5</span></div>
                                                                            <span class="price"><span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">&#36;</span>59.00</span>
                                                                            </span>
                                                                        </div>

                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </article>

                                                    <article class="btx-entry btx-col-3 post-1464 product type-product status-publish has-post-thumbnail product_cat-accessories product_tag-belt first instock shipping-taxable purchasable product-type-simple" style="padding:0 10px;" data-filter="Accessories">
                                                        <div class="btx-entry-inner btx-product-entry-content btx-with-background" style="background-color:rgba(255,255,255,1);">
                                                            <div class="btx-product-entry-media btx-product-entry-media--still">
                                                                <a class="btx-product-entry-image" href="#">
                                                                    <img width="624" height="800" src="upload/shop-belt-01-624x800.jpg" class="attachment-shop_catalog size-shop_catalog wp-post-image" alt="shop-belt-01" title="shop-belt-01" />
                                                                </a>

                                                            </div>

                                                            <div class="btx-product-entry-info">
                                                                <div class="btx-product-entry-info-wrapper">
                                                                    <div class="btx-product-entry-info-inner">
                                                                        <h4 class="btx-product-entry-title btx-secondary-font" style="font-size:16px;">
                                                                                <a class="btx-s-text-color" href="#">Standard Belt</a>
                                                                            </h4>
                                                                        <div class="btx-product-entry-meta btx-primary-font">

                                                                            <span class="price"><span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">&#36;</span>89.00</span>
                                                                            </span>
                                                                        </div>

                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </article>

                                                    <article class="btx-entry btx-col-3 post-995 product type-product status-publish has-post-thumbnail product_cat-eyewear product_tag-glasses first instock sale shipping-taxable purchasable product-type-simple" style="padding:0 10px;" data-filter="Eyewear">
                                                        <div class="btx-entry-inner btx-product-entry-content btx-with-background" style="background-color:rgba(255,255,255,1);">
                                                            <div class="btx-product-entry-media btx-product-entry-media--still">
                                                                <a class="btx-product-entry-image" href="#">

                                                                    <span class="onsale">Sale!</span>
                                                                    <img width="624" height="800" src="upload/shop-vintage-glasses-01-624x800.jpg" class="attachment-shop_catalog size-shop_catalog wp-post-image" alt="shop-vintage-glasses-01" title="shop-vintage-glasses-01" />
                                                                </a>

                                                            </div>

                                                            <div class="btx-product-entry-info">
                                                                <div class="btx-product-entry-info-wrapper">
                                                                    <div class="btx-product-entry-info-inner">
                                                                        <h4 class="btx-product-entry-title btx-secondary-font" style="font-size:16px;">
                                                                                <a class="btx-s-text-color" href="#">Oval Sunglasses</a>
                                                                            </h4>
                                                                        <div class="btx-product-entry-meta btx-primary-font">

                                                                            <span class="price"><del><span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">&#36;</span>255.00</span>
                                                                            </del> <ins><span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">&#36;</span>189.00</span></ins></span>
                                                                        </div>

                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </article>

                                                    <article class="btx-entry btx-col-3 post-994 product type-product status-publish has-post-thumbnail product_cat-eyewear product_tag-glasses first instock shipping-taxable purchasable product-type-simple" style="padding:0 10px;" data-filter="Eyewear">
                                                        <div class="btx-entry-inner btx-product-entry-content btx-with-background" style="background-color:rgba(255,255,255,1);">
                                                            <div class="btx-product-entry-media btx-product-entry-media--still">
                                                                <a class="btx-product-entry-image" href="#">
                                                                    <img width="624" height="800" src="upload/shop-sunglasses-01-624x800.jpg" class="attachment-shop_catalog size-shop_catalog wp-post-image" alt="shop-sunglasses-01" title="shop-sunglasses-01" />
                                                                </a>

                                                            </div>

                                                            <div class="btx-product-entry-info">
                                                                <div class="btx-product-entry-info-wrapper">
                                                                    <div class="btx-product-entry-info-inner">
                                                                        <h4 class="btx-product-entry-title btx-secondary-font" style="font-size:16px;">
                                                                                <a class="btx-s-text-color" href="#">Wayfarer Sunglasses</a>
                                                                            </h4>
                                                                        <div class="btx-product-entry-meta btx-primary-font">

                                                                            <div class="star-rating" title="Rated 5 out of 5"><span style="width:100%"><strong class="rating">5</strong> out of 5</span></div>
                                                                            <span class="price"><span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">&#36;</span>225.00</span>
                                                                            </span>
                                                                        </div>

                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </article>

                                                    <article class="btx-entry btx-col-3 post-993 product type-product status-publish has-post-thumbnail product_cat-eyewear product_tag-glasses first instock shipping-taxable purchasable product-type-simple" style="padding:0 10px;" data-filter="Eyewear">
                                                        <div class="btx-entry-inner btx-product-entry-content btx-with-background" style="background-color:rgba(255,255,255,1);">
                                                            <div class="btx-product-entry-media btx-product-entry-media--still">
                                                                <a class="btx-product-entry-image" href="#">
                                                                    <img width="624" height="800" src="upload/shop-round-glasses-01-624x800.jpg" class="attachment-shop_catalog size-shop_catalog wp-post-image" alt="shop-round-glasses-01" title="shop-round-glasses-01" />
                                                                </a>

                                                            </div>

                                                            <div class="btx-product-entry-info">
                                                                <div class="btx-product-entry-info-wrapper">
                                                                    <div class="btx-product-entry-info-inner">
                                                                        <h4 class="btx-product-entry-title btx-secondary-font" style="font-size:16px;">
                                                                                <a class="btx-s-text-color" href="#">Round Sunglasses</a>
                                                                            </h4>
                                                                        <div class="btx-product-entry-meta btx-primary-font">

                                                                            <span class="price"><span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">&#36;</span>225.00</span>
                                                                            </span>
                                                                        </div>

                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </article>

                                                    <article class="btx-entry btx-col-3 post-991 product type-product status-publish has-post-thumbnail product_cat-eyewear product_tag-glasses first instock shipping-taxable purchasable product-type-simple" style="padding:0 10px;" data-filter="Eyewear">
                                                        <div class="btx-entry-inner btx-product-entry-content btx-with-background" style="background-color:rgba(255,255,255,1);">
                                                            <div class="btx-product-entry-media btx-product-entry-media--still">
                                                                <a class="btx-product-entry-image" href="#">
                                                                    <img width="624" height="800" src="upload/shop-glasses-01-624x800.jpg" class="attachment-shop_catalog size-shop_catalog wp-post-image" alt="shop-glasses-01" title="shop-glasses-01" />
                                                                </a>

                                                            </div>

                                                            <div class="btx-product-entry-info">
                                                                <div class="btx-product-entry-info-wrapper">
                                                                    <div class="btx-product-entry-info-inner">
                                                                        <h4 class="btx-product-entry-title btx-secondary-font" style="font-size:16px;">
                                                                                <a class="btx-s-text-color" href="#">Eyeglasses</a>
                                                                            </h4>
                                                                        <div class="btx-product-entry-meta btx-primary-font">

                                                                            <span class="price"><span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">&#36;</span>115.00</span>
                                                                            </span>
                                                                        </div>

                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </article>

                                                    <article class="btx-entry btx-col-3 post-990 product type-product status-publish has-post-thumbnail product_cat-leather product_tag-wallet first instock shipping-taxable purchasable product-type-simple" style="padding:0 10px;" data-filter="Leather">
                                                        <div class="btx-entry-inner btx-product-entry-content btx-with-background" style="background-color:rgba(255,255,255,1);">
                                                            <div class="btx-product-entry-media btx-product-entry-media--still">
                                                                <a class="btx-product-entry-image" href="#">
                                                                    <img width="624" height="800" src="upload/shop-wallet-01-624x800.jpg" class="attachment-shop_catalog size-shop_catalog wp-post-image" alt="shop-wallet-01" title="shop-wallet-01" />
                                                                </a>

                                                            </div>

                                                            <div class="btx-product-entry-info">
                                                                <div class="btx-product-entry-info-wrapper">
                                                                    <div class="btx-product-entry-info-inner">
                                                                        <h4 class="btx-product-entry-title btx-secondary-font" style="font-size:16px;">
                                                                                <a class="btx-s-text-color" href="#">Billfold Wallet</a>
                                                                            </h4>
                                                                        <div class="btx-product-entry-meta btx-primary-font">

                                                                            <div class="star-rating" title="Rated 5 out of 5"><span style="width:100%"><strong class="rating">5</strong> out of 5</span></div>
                                                                            <span class="price"><span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">&#36;</span>109.00</span>
                                                                            </span>
                                                                        </div>

                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </article>

                                                    <article class="btx-entry btx-col-3 post-989 product type-product status-publish has-post-thumbnail product_cat-accessories product_tag-case first instock shipping-taxable purchasable product-type-simple" style="padding:0 10px;" data-filter="Accessories">
                                                        <div class="btx-entry-inner btx-product-entry-content btx-with-background" style="background-color:rgba(255,255,255,1);">
                                                            <div class="btx-product-entry-media btx-product-entry-media--still">
                                                                <a class="btx-product-entry-image" href="#">
                                                                    <img width="624" height="800" src="upload/shop-iphone-case-01-624x800.jpg" class="attachment-shop_catalog size-shop_catalog wp-post-image" alt="shop-iphone-case-01" title="shop-iphone-case-01" />
                                                                </a>

                                                            </div>

                                                            <div class="btx-product-entry-info">
                                                                <div class="btx-product-entry-info-wrapper">
                                                                    <div class="btx-product-entry-info-inner">
                                                                        <h4 class="btx-product-entry-title btx-secondary-font" style="font-size:16px;">
                                                                                <a class="btx-s-text-color" href="#">iPhone Case</a>
                                                                            </h4>
                                                                        <div class="btx-product-entry-meta btx-primary-font">

                                                                            <span class="price"><span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">&#36;</span>79.00</span>
                                                                            </span>
                                                                        </div>

                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </article>

                                                    <article class="btx-entry btx-col-3 post-986 product type-product status-publish has-post-thumbnail product_cat-leather product_tag-case product_tag-glasses first instock shipping-taxable purchasable product-type-simple" style="padding:0 10px;" data-filter="Leather">
                                                        <div class="btx-entry-inner btx-product-entry-content btx-with-background" style="background-color:rgba(255,255,255,1);">
                                                            <div class="btx-product-entry-media btx-product-entry-media--still">
                                                                <a class="btx-product-entry-image" href="#">
                                                                    <img width="624" height="800" src="upload/shop-glasses-case-01-624x800.jpg" class="attachment-shop_catalog size-shop_catalog wp-post-image" alt="shop-glasses-case-01" title="shop-glasses-case-01" />
                                                                </a>

                                                            </div>

                                                            <div class="btx-product-entry-info">
                                                                <div class="btx-product-entry-info-wrapper">
                                                                    <div class="btx-product-entry-info-inner">
                                                                        <h4 class="btx-product-entry-title btx-secondary-font" style="font-size:16px;">
                                                                                <a class="btx-s-text-color" href="#">Glasses Case</a>
                                                                            </h4>
                                                                        <div class="btx-product-entry-meta btx-primary-font">

                                                                            <span class="price"><span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">&#36;</span>125.00</span>
                                                                            </span>
                                                                        </div>

                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </article>

                                                    <article class="btx-entry btx-col-3 post-983 product type-product status-publish has-post-thumbnail product_cat-neckwear product_tag-tie first instock shipping-taxable purchasable product-type-simple" style="padding:0 10px;" data-filter="Neckwear">
                                                        <div class="btx-entry-inner btx-product-entry-content btx-with-background" style="background-color:rgba(255,255,255,1);">
                                                            <div class="btx-product-entry-media btx-product-entry-media--still">
                                                                <a class="btx-product-entry-image" href="#">
                                                                    <img width="624" height="800" src="upload/shop-tie-01-624x800.jpg" class="attachment-shop_catalog size-shop_catalog wp-post-image" alt="shop-tie-01" title="shop-tie-01" />
                                                                </a>

                                                            </div>

                                                            <div class="btx-product-entry-info">
                                                                <div class="btx-product-entry-info-wrapper">
                                                                    <div class="btx-product-entry-info-inner">
                                                                        <h4 class="btx-product-entry-title btx-secondary-font" style="font-size:16px;">
                                                                                <a class="btx-s-text-color" href="#">Repp Tie</a>
                                                                            </h4>
                                                                        <div class="btx-product-entry-meta btx-primary-font">

                                                                            <span class="price"><span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">&#36;</span>59.00</span>
                                                                            </span>
                                                                        </div>

                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </article>

                                                    <article class="btx-entry btx-col-3 post-984 product type-product status-publish has-post-thumbnail product_cat-neckwear product_tag-formalwear product_tag-tie first instock shipping-taxable purchasable product-type-simple" style="padding:0 10px;" data-filter="Neckwear">
                                                        <div class="btx-entry-inner btx-product-entry-content btx-with-background" style="background-color:rgba(255,255,255,1);">
                                                            <div class="btx-product-entry-media btx-product-entry-media--still">
                                                                <a class="btx-product-entry-image" href="#">
                                                                    <img width="624" height="800" src="upload/shop-bowtie-01-624x800.jpg" class="attachment-shop_catalog size-shop_catalog wp-post-image" alt="shop-bowtie-01" title="shop-bowtie-01" />
                                                                </a>

                                                            </div>

                                                            <div class="btx-product-entry-info">
                                                                <div class="btx-product-entry-info-wrapper">
                                                                    <div class="btx-product-entry-info-inner">
                                                                        <h4 class="btx-product-entry-title btx-secondary-font" style="font-size:16px;">
                                                                                <a class="btx-s-text-color" href="#">Silk Bow Tie</a>
                                                                            </h4>
                                                                        <div class="btx-product-entry-meta btx-primary-font">

                                                                            <span class="price"><span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">&#36;</span>89.00</span>
                                                                            </span>
                                                                        </div>

                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </article>

                                                    <article class="btx-entry btx-col-3 post-988 product type-product status-publish has-post-thumbnail product_cat-accessories product_tag-cufflinks product_tag-formalwear first instock shipping-taxable purchasable product-type-simple" style="padding:0 10px;" data-filter="Accessories">
                                                        <div class="btx-entry-inner btx-product-entry-content btx-with-background" style="background-color:rgba(255,255,255,1);">
                                                            <div class="btx-product-entry-media btx-product-entry-media--still">
                                                                <a class="btx-product-entry-image" href="#">
                                                                    <img width="624" height="800" src="upload/shop-cufflinks-01-624x800.jpg" class="attachment-shop_catalog size-shop_catalog wp-post-image" alt="shop-cufflinks-01" title="shop-cufflinks-01" />
                                                                </a>

                                                            </div>

                                                            <div class="btx-product-entry-info">
                                                                <div class="btx-product-entry-info-wrapper">
                                                                    <div class="btx-product-entry-info-inner">
                                                                        <h4 class="btx-product-entry-title btx-secondary-font" style="font-size:16px;">
                                                                                <a class="btx-s-text-color" href="#">Cufflinks</a>
                                                                            </h4>
                                                                        <div class="btx-product-entry-meta btx-primary-font">

                                                                            <span class="price"><span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">&#36;</span>249.00</span>
                                                                            </span>
                                                                        </div>

                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </article>

                                                    <article class="btx-entry btx-col-3 post-981 product type-product status-publish has-post-thumbnail product_cat-headwear first instock shipping-taxable purchasable product-type-simple" style="padding:0 10px;" data-filter="headwear">
                                                        <div class="btx-entry-inner btx-product-entry-content btx-with-background" style="background-color:rgba(255,255,255,1);">
                                                            <div class="btx-product-entry-media btx-product-entry-media--still">
                                                                <a class="btx-product-entry-image" href="#">
                                                                    <img width="624" height="800" src="upload/shop-hat-01-624x800.jpg" class="attachment-shop_catalog size-shop_catalog wp-post-image" alt="shop-hat-01" title="shop-hat-01" />
                                                                </a>

                                                            </div>

                                                            <div class="btx-product-entry-info">
                                                                <div class="btx-product-entry-info-wrapper">
                                                                    <div class="btx-product-entry-info-inner">
                                                                        <h4 class="btx-product-entry-title btx-secondary-font" style="font-size:16px;">
                                                                                <a class="btx-s-text-color" href="#">Melton Wool Hat</a>
                                                                            </h4>
                                                                        <div class="btx-product-entry-meta btx-primary-font">

                                                                            <span class="price"><span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">&#36;</span>89.00</span>
                                                                            </span>
                                                                        </div>

                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </article>

                                                    <article class="btx-entry btx-col-3 post-977 product type-product status-publish has-post-thumbnail product_cat-accessories product_tag-socks first instock shipping-taxable purchasable product-type-simple" style="padding:0 10px;" data-filter="Accessories">
                                                        <div class="btx-entry-inner btx-product-entry-content btx-with-background" style="background-color:rgba(255,255,255,1);">
                                                            <div class="btx-product-entry-media btx-product-entry-media--still">
                                                                <a class="btx-product-entry-image" href="#">
                                                                    <img width="624" height="800" src="upload/shop-socks-01-624x800.jpg" class="attachment-shop_catalog size-shop_catalog wp-post-image" alt="shop-socks-01" title="shop-socks-01" />
                                                                </a>

                                                            </div>

                                                            <div class="btx-product-entry-info">
                                                                <div class="btx-product-entry-info-wrapper">
                                                                    <div class="btx-product-entry-info-inner">
                                                                        <h4 class="btx-product-entry-title btx-secondary-font" style="font-size:16px;">
                                                                                <a class="btx-s-text-color" href="#">Cotton Socks</a>
                                                                            </h4>
                                                                        <div class="btx-product-entry-meta btx-primary-font">

                                                                            <span class="price"><span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">&#36;</span>9.00</span>
                                                                            </span>
                                                                        </div>

                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </article>

                                                    <article class="btx-entry btx-col-3 post-976 product type-product status-publish has-post-thumbnail product_cat-accessories product_tag-watches first instock shipping-taxable purchasable product-type-simple" style="padding:0 10px;" data-filter="Accessories">
                                                        <div class="btx-entry-inner btx-product-entry-content btx-with-background" style="background-color:rgba(255,255,255,1);">
                                                            <div class="btx-product-entry-media btx-product-entry-media--still">
                                                                <a class="btx-product-entry-image" href="#">
                                                                    <img width="624" height="800" src="upload/shop-watch-01-624x800.jpg" class="attachment-shop_catalog size-shop_catalog wp-post-image" alt="shop-watch-01" title="shop-watch-01" />
                                                                </a>

                                                            </div>

                                                            <div class="btx-product-entry-info">
                                                                <div class="btx-product-entry-info-wrapper">
                                                                    <div class="btx-product-entry-info-inner">
                                                                        <h4 class="btx-product-entry-title btx-secondary-font" style="font-size:16px;">
                                                                                <a class="btx-s-text-color" href="#">Military Watch</a>
                                                                            </h4>
                                                                        <div class="btx-product-entry-meta btx-primary-font">

                                                                            <span class="price"><span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">&#36;</span>229.00</span>
                                                                            </span>
                                                                        </div>

                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </article>

                                                    <article class="btx-entry btx-col-3 post-975 product type-product status-publish has-post-thumbnail product_cat-bag product_tag-bag first instock shipping-taxable purchasable product-type-simple" style="padding:0 10px;" data-filter="Bag">
                                                        <div class="btx-entry-inner btx-product-entry-content btx-with-background" style="background-color:rgba(255,255,255,1);">
                                                            <div class="btx-product-entry-media btx-product-entry-media--still">
                                                                <a class="btx-product-entry-image" href="#">
                                                                    <img width="624" height="800" src="upload/shop-tote-01-624x800.jpg" class="attachment-shop_catalog size-shop_catalog wp-post-image" alt="shop-tote-01" title="shop-tote-01" />
                                                                </a>

                                                            </div>

                                                            <div class="btx-product-entry-info">
                                                                <div class="btx-product-entry-info-wrapper">
                                                                    <div class="btx-product-entry-info-inner">
                                                                        <h4 class="btx-product-entry-title btx-secondary-font" style="font-size:16px;">
                                                                                <a class="btx-s-text-color" href="#">Plain Tote</a>
                                                                            </h4>
                                                                        <div class="btx-product-entry-meta btx-primary-font">

                                                                            <span class="price"><span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">&#36;</span>89.00</span>
                                                                            </span>
                                                                        </div>

                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </article>

                                                    <article class="btx-entry btx-col-3 post-974 product type-product status-publish has-post-thumbnail product_cat-bag product_tag-bag first instock shipping-taxable purchasable product-type-simple" style="padding:0 10px;" data-filter="Bag">
                                                        <div class="btx-entry-inner btx-product-entry-content btx-with-background" style="background-color:rgba(255,255,255,1);">
                                                            <div class="btx-product-entry-media btx-product-entry-media--still">
                                                                <a class="btx-product-entry-image" href="#">
                                                                    <img width="624" height="800" src="upload/shop-jeans-bag-01-624x800.jpg" class="attachment-shop_catalog size-shop_catalog wp-post-image" alt="shop-jeans-bag-01" title="shop-jeans-bag-01" />
                                                                </a>

                                                            </div>

                                                            <div class="btx-product-entry-info">
                                                                <div class="btx-product-entry-info-wrapper">
                                                                    <div class="btx-product-entry-info-inner">
                                                                        <h4 class="btx-product-entry-title btx-secondary-font" style="font-size:16px;">
                                                                                <a class="btx-s-text-color" href="#">Denim Bag</a>
                                                                            </h4>
                                                                        <div class="btx-product-entry-meta btx-primary-font">

                                                                            <div class="star-rating" title="Rated 4.5 out of 5"><span style="width:90%"><strong class="rating">4.5</strong> out of 5</span></div>
                                                                            <span class="price"><span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">&#36;</span>109.00</span>
                                                                            </span>
                                                                        </div>

                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </article>

                                                    <article class="btx-entry btx-col-3 post-973 product type-product status-publish has-post-thumbnail product_cat-bag product_tag-bag first instock shipping-taxable purchasable product-type-simple" style="padding:0 10px;" data-filter="Bag">
                                                        <div class="btx-entry-inner btx-product-entry-content btx-with-background" style="background-color:rgba(255,255,255,1);">
                                                            <div class="btx-product-entry-media btx-product-entry-media--still">
                                                                <a class="btx-product-entry-image" href="#">
                                                                    <img width="624" height="800" src="upload/shop-tote-canvas-01-624x800.jpg" class="attachment-shop_catalog size-shop_catalog wp-post-image" alt="shop-tote-canvas-01" title="shop-tote-canvas-01" />
                                                                </a>

                                                            </div>

                                                            <div class="btx-product-entry-info">
                                                                <div class="btx-product-entry-info-wrapper">
                                                                    <div class="btx-product-entry-info-inner">
                                                                        <h4 class="btx-product-entry-title btx-secondary-font" style="font-size:16px;">
                                                                                <a class="btx-s-text-color" href="#">Canvas Tote</a>
                                                                            </h4>
                                                                        <div class="btx-product-entry-meta btx-primary-font">

                                                                            <span class="price"><span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">&#36;</span>89.00</span>
                                                                            </span>
                                                                        </div>

                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </article>

                                                    <article class="btx-entry btx-col-3 post-972 product type-product status-publish has-post-thumbnail product_cat-bag product_tag-bag first instock featured shipping-taxable purchasable product-type-simple" style="padding:0 10px;" data-filter="Bag">
                                                        <div class="btx-entry-inner btx-product-entry-content btx-with-background" style="background-color:rgba(255,255,255,1);">
                                                            <div class="btx-product-entry-media btx-product-entry-media--still">
                                                                <a class="btx-product-entry-image" href="#">

                                                                    <span class="featured-label btx-p-brand-bg btx-p-brand-contrast-color">Featured</span>
                                                                    <img width="624" height="800" src="upload/shop-tote-white-01-624x800.jpg" class="attachment-shop_catalog size-shop_catalog wp-post-image" alt="shop-tote-white-01" title="shop-tote-white-01" />
                                                                </a>

                                                            </div>

                                                            <div class="btx-product-entry-info">
                                                                <div class="btx-product-entry-info-wrapper">
                                                                    <div class="btx-product-entry-info-inner">
                                                                        <h4 class="btx-product-entry-title btx-secondary-font" style="font-size:16px;">
                                                                                <a class="btx-s-text-color" href="#">Market Tote</a>
                                                                            </h4>
                                                                        <div class="btx-product-entry-meta btx-primary-font">

                                                                            <span class="price"><span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">&#36;</span>59.00</span>
                                                                            </span>
                                                                        </div>

                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </article>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>

            </article>
        </main>

       
    </div>

<script type='text/javascript'>
    /* <![CDATA[ */
    var BateauxOptions = {"ajax_url":"js/admin-ajax.html"};
    /* ]]> */
    </script>
    <script type='text/javascript'>
        /* <![CDATA[ */
        var mejsL10n = {
            "language": "en-US",
            "strings": {
                "Close": "Close",
                "Fullscreen": "Fullscreen",
                "Download File": "Download File",
                "Download Video": "Download Video",
                "Play\/Pause": "Play\/Pause",
                "Mute Toggle": "Mute Toggle",
                "None": "None",
                "Turn off Fullscreen": "Turn off Fullscreen",
                "Go Fullscreen": "Go Fullscreen",
                "Unmute": "Unmute",
                "Mute": "Mute",
                "Captions\/Subtitles": "Captions\/Subtitles"
            }
        };
        var _wpmejsSettings = {
            "pluginPath": "js\/mediaelement\/"
        };
        /* ]]> */
    </script>
